* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background-color: #F7F7F7;
    padding-block: 10px;
    height: 10vh;
}

.header .container{
    border-bottom: orangered 3px solid;
    padding-bottom: 10px;
}

.header a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.header ul {
    padding: 5px;
    list-style: none;
}

.header li {
    float: left;
    padding: 0px 20px 0 20px;
}

.search-img {
    width: 20px;
    height: 20px;
    padding-top: 5px;
}

.header #branding {
    float: left;
    margin-top: 10px;
}

.header #branding img {
    width: 40px;
}

.header nav {
    float: right;
    margin-top: 10px;
}

.clearfix {
    clear: both;
}

.header a:hover {
    color: orangered;
}

.landing{
    height: 90vh;
    padding-block: 90px;
    background-color: #F7F7F7;
}

.section{
    padding-block: 30px;
}

.left-section{
    float: left;
    width: 40%;
}

.home-header{
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
}

.left-section p{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-block: 20px;
}

.btns{
    padding-block: 15px;
}

.btn{
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-block: 10px;
    width: 150px;
    text-align: center;
    border: 2px solid transparent;
}

.orange-btn{
    background-color: orangered;
    margin: auto;
}

.orange-btn:hover{
    background-color: transparent;
    border: 2px solid orangered;
    color: orangered;
}

.dark-btn{
    background-color: #333;
}

.dark-btn:hover{
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
}

.right-section{
    float: right;
    width: 40%;
}

.section-text{
    text-align: center;
}

.section-header{
    font-size: 2rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.2;
}

.service-container{
    padding-block: 30px;
    margin: 0 auto;
}

.service{
    width:30%;
    margin-inline: 10px;
    height: 250px;
    vertical-align: top;
    text-align: center;
    padding-block: 30px;
    display: inline-block;
    border: 1px solid #33333357;
}

.service:hover{
    border-top: 10px solid orangered;
    padding-top: 21px;
}

.service-img{
    width: 50px;
    margin: 0 auto;
}

.service h3{
    color: orangered;
    font-weight: 300;
}

.services .btn{
    margin: auto;
}

.products{
    background-color: #F7F7F7;
    padding-block: 30px;
}

.product{
    padding-block: 30px;
}

.product-text{
    h3{
        font-size: 2rem;
        text-transform: capitalize;
        line-height: 1.2;
    }
    &p{
        font-size: 1.2rem;
        line-height: 1.6;
        margin-block: 20px;
    }
}

.product-img{
    width: 250px;
    margin-left: auto;
}

.slogan-section{
    background-image: url('../images/tasty.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 60px;
}

.slogan{
    font-size: 4.5rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}

.testimonial-card{
    padding-block: 30px;
    text-align: center;
}

.testimonial-img{
    width: 250px;
    margin: 0 auto;
}

.contact-form .form-item{
    width: 100%;
    padding: 10px;
    margin-block: 10px;
    border: none;
    border-bottom: 2px solid #333;
}

.form-item:focus{
    border-bottom: 2px solid orangered;
    outline: none;
}

.contact{
    overflow: visible;
}

.contact .container{
    overflow-x: visible;
}

.contact-img{
    width: 150px;
    margin-left:  auto;
}

.contact-img img{
    width: 200px;
    position: absolute;
    right: 0%;
}

.footer {
    padding: 20px;
    margin-top: 20px;
    color: #333;
    background-color: #f4f4f4;
    text-align: center;
}

.list-container .list{
    padding-block: 10px;
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

.list-header{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    margin-block: 10px;
}

.inline-list li{
    padding-inline: 5px;
    display: inline-block;
}

.contact-icon img{
    width: 30px;
}

.inline-list li input{
    width: 60%;
    padding: 5px;
    margin-block: 5px;
    border: 1px solid #333;
}

.inline-list li input:focus{
    border: 1px solid orangered;
    outline: none;
}

.inline-list form li{
    display: inline-block;
}

.sub-btn{
    padding: 5px;
    cursor: pointer;
    color: white;
    margin-block: 10px;
    text-align: center;
    border: 2px solid transparent;
    background-color: orangered;
}
.copyright{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}